<md-dialog>

    <md-toolbar>
        <div class="md-toolbar-tools">

        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form name="mainForm" data-ng-submit="eliminar_profesion()" data-ng-controller="data1" ng-model="elimina_profesion" >
                        <div class="text-center well">
                            <h1 class="text-center">Eliminar Profesion</h1>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h3>Desea eliminar la Profesion:</h3>
                                </li>
                                <li class="list-group-item">
                                    <h2>
                                        @Html.Hidden("id_profesion_curriculum", (Int32)ViewBag.id_profesion, new { @ng_model = "elimina_profesion.id", ng_init = "elimina_profesion.id = " + (Int32)ViewBag.id_profesion })

                                        <span class="label label-danger">@ViewBag.nombre_profesion</span>
                                    </h2>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-block btn-danger btn-lg">Eliminar</button>
                                        </div>

                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group ">
                                                <div ng-controller="data1">

                                                    <a href="" class="btn  btn-block btn-info btn-lg" ng-click="cerrarmodal()">Cancelar</a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
